@using GitViewer.ViewModels
@model GitViewer.ViewModels.GitUserViewModel
<div class="row">
    <div class="col-md-6">
        <h2>Search for a git handle</h2>
        @Html.Partial("Partials/SearchForm", new GitUserSearchViewModel())
    </div>
    <div class="col-md-6">
        @if (Model.HasData())
        {
        <article class="user">

            <img src="@Model.User.Avatar" style="float: right; width: 100px;" />
            <h2>@Model.User.Username</h2>
            <p>@Model.User.Location</p>
            <h3>Repositories</h3>
            @if (Model.User.Repositories.Any())
            {
            <ul>
                @foreach (var repository in @Model.User.Repositories)
                {
                    <li>@repository.Name - (@repository.StarGazers stargazers)</li>
                }
            </ul>
            }
            else
            {
            <p>no repositories found</p>
            }
        </article>
        }
    </div>
</div>